<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bulma.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/3f787ec5e9.js" crossorigin="anonymous"></script>
            <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        {% endblock %}
    </head>
    <body>
    {{ include('menu.html.twig') }}
    {% if section_title is defined and section_subtitle is defined %}
        {{ include('section.html.twig', { 'section_title': section_title, 'section_subtitle': section_subtitle}) }}
    {% endif %}

    {% block body %}{% endblock %}
    </body>
</html>
