{# templates/bio.html.twig #}
<section class="hero is-small is-link">
    <div class="hero-body">
        <p class="title">
            {{ section_title }}
        </p>
        <p class="subtitle">
            {{ section_subtitle }}
        </p>
    </div>
</section>